body {
  background-image: url("../img/bkg_beauty.jpg");
  font-size: 16px;
  line-height: 1.2;
  background-size: auto;
  -webkit-background-size: cover;
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

button {
  border: none;
  background-color:#c75084;
  color: white;
  cursor: pointer;
  padding: 0 16px;
}

.index__header,
.index__bottom {
  opacity: 0.7;
  background-color: white
}

.index {
  height: 100vh;
  flex-wrap: nowrap;
  flex-direction: column;
}

.index,
.index__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.index__header {
  flex: 2;
  margin-top: 10%;
  width: 100%;
  max-width: 600px;
  padding: 10;
  flex-direction: column;
}


.index__search {
  width: 100%;
  max-width: 600px;
}


.index__form {
  background-color: white;
  border-radius: 2px;
  border: 1px solid silver;
  display: flex;
}

.index__form>div {
  flex: 1;
}

.index__query {
  background: transparent;
  opacity: 1;
  border: 0;
  color: black;
  display: block;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  margin: 0;
  outline: none;
  padding: 5px 10px 5px 15px;
  width: 100%;
  -webkit-appearance: none;
}


.index__footer {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.index__bottom {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  justify-content: center;
  padding: 2em 0;
  text-align: center;
  width: 100%;
}



