
body {
  color: black;
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 17px;
  line-height: normal;
  margin: 0;
}

button {
  border: none;
  background-color: #ffffffd1;
  color: black;
  cursor: pointer;
  margin-left: 80px;
  padding: 8px 16px;
}

.result_header {
  background-image: url("../img/bkg_header.jpg");
  flex-wrap: wrap;
  min-height: 70px;
  padding: 10px 10px 0;
  margin: 0;
  align-items: center;
}

.result_body {
  display: block;
  margin: 14px 90px;
}


.search_result {
  margin: 0;
  padding: 8px 0;
}

.search_result a {
  text-decoration: none;
}

.result_title {
  color: #2619AF;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.4;
}

a .result_title:hover {
  text-decoration: underline;
}

.url {
  color: #078307;
  font-size: 16px;
  word-break: break-all;
  line-height: 1.4;
  overflow: ellipsis;
}

.result_description {
  color: black;
  line-height: normal;
}

.result_match {
  color: black;
  font-weight: bold;
}